sudo: false
language: java
jdk:
  - oraclejdk8

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
- rm -fr $HOME/.gradle/caches/*/fileHashes/fileHashes.bin
- rm -fr $HOME/.gradle/caches/*/fileHashes/fileHashes.lock

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

before_install:
- "export ORG_GRADLE_PROJECT_ideaVersion=${IDEA_VERSION}"
- "export ORG_GRADLE_PROJECT_phpPluginVersion=${PHP_PLUGIN_VERSION}"
- "export ORG_GRADLE_PROJECT_bladePluginVersion=${BLADE_PLUGIN_VERSION}"

env:
  - IDEA_VERSION="IU-181.4203.6" PHP_PLUGIN_VERSION="181.4096.20" BLADE_PLUGIN_VERSION="181.4096.20"
  - IDEA_VERSION="IU-2017.3.5" PHP_PLUGIN_VERSION="173.4301.34" BLADE_PLUGIN_VERSION="173.4127.29"

script:
- "./gradlew check buildPlugin"
